body {
    margin: 0;
}

.section1 {
	background-image: url("../resource/index1.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 800px;
}

.header {
	width: 620px;
	position: relative;
	left: 50%;
	margin-left: -320px;
	top: 20px;
}

.headerNav a {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	font-style: normal;
	text-decoration: none;
	font-family: "freight-sans-pro";
	line-height: 1em;

	margin-left: 25px;
	margin-right: 25px;
}

.headerNav a img {
	width: 60px;
	height: 105px;
}

.headerNav #logo {
	position: relative;
}

.slogan img {
	position: relative;
	width: 140px;
	height: 443px;
	left: 50%;
	margin-top: 88px;
	margin-left: -65px;
}

.section2 img {
	position: relative;
	left: 50%;
	margin-left: -375px;
<<<<<<< HEAD
	
}

#footer .main-content {
    padding: 68px;
    text-align: center;
    background-color: #093a3f;
    color: #fff;
}

.news-updates-content {
    font-size: 30px;
    line-height: 1.2em;
}

.sign-up-form {
    margin: 30px 0;
}

.sign-up-form input[type="text"] {
    min-width: 250px;
    width: auto;
    padding: 1em;
    border: 1px solid rgba(0,0,0,.12);
    font-size: 15px;
    line-height: normal;
    outline: none;
    vertical-align: top;
}

.sign-up-form input[type="button"] {
    color: white;
    font-size: 14px;
    font-weight: 100;
    border: 2px solid #fff;
    padding: 1em;
    margin-left: 5px;
    height: 49px;
    width: 128px;
    vertical-align: top;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}

.sign-up-form input[type="button"]:hover {
    background-color: rgba(255,255,255,1);
    color: #000;
}

.contact-container {
    text-align: left;
    margin-top: 120px;
}

.qf-code {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    margin-top: 1em;
    margin-left: 25%;
}

.qf-code img {
    width: 140px;
}

.contact {
    display: inline-block;
    margin-left: 18%;
}

.social img {
    width: 53px;
    margin-right: 30px;
    cursor: pointer;
}

#footer .links {
    text-align: center;
    color: #212326;
    padding: 68px 34px;
    font-size: 14px;
}

.link-contents span {
    margin: 0 20px;
}

.link-contents span a {
    text-decoration: none;
    border-bottom-width: 0;
    line-height: 1.25em;
    color: #212326;
}

.powered-by {
    margin-top: 50px;
}

.p1 {
	font-size: 42px;
	line-height: 1.2em;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	color: #093a3f;
}

.p2 {
	position: relative;
	left: 50%;
	margin-left: -328px;
	width: 656px;
	text-align: center;
	line-height: 1.6em;
	color: rgba(0,0,0,.6);
	font-weight: normal;
}

.section3 {
	margin-top: 70px;
}

.item img{
	width: 100%;
}

.section4 img {
	width: 100%;
}

.contentBlock {
	height: 350px;
	width: 100%;
}

.parachute {
	background: url("../resource/ex-jump5.jpg");
	background-size: 100%;
}

.dive {
	background: url("../resource/ex-dive2.jpg");
	background-size: 100%;
}

.helicopt {
	background: url("../resource/ex-heli.jpg");
	background-size: 100%;
}

.activity {
	position: relative;
	top: 50%;
	transform: translateY(-30%);
	width: 900px;
	left: 50%;
	margin-left: -450px;
}

.activity span {
	color: #fff;
	font-size: 53px;
}

.activity button {
	margin-left: 500px;
	color: #fff;
	border-color: #fff;
	border-radius: 3px;
	border-width: 2px;
	padding: 13px 26px;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 600;
	border-style: solid;
	background: transparent;
}

.activity button:hover {
	background: #fff;
	color: #000;
}

.section6 img {
	width: 100%;
}