body {
	margin: 0;
}
.section1 {
	background-image: url("../resource/index1.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 800px;
}

.header {
	width: 620px;
	position: relative;
	left: 50%;
	margin-left: -320px;
}

.headerNav a {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	font-style: normal;
	text-decoration: none;
	font-family: "freight-sans-pro";
	line-height: 1em;

	margin-left: 25px;
	margin-right: 25px;
	padding-top: 0;
}

.headerNav a img {
	width: 60px;
	height: 105px;
}

.headerNav #logo {
	position: relative;
	top: 40px;
}

.slogan img {
	position: relative;
	width: 140px;
	height: 443px;
	left: 50%;
	margin-top: 88px;
	margin-left: -65px;
}

.section2 img {
	position: relative;
	left: 50%;
	margin-left: -375px;
}

.p1 {
	font-size: 42px;
	line-height: 1.2em;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	color: #093a3f;
}

.p2 {
	position: relative;
	left: 50%;
	margin-left: -328px;
	width: 656px;
	text-align: center;
	line-height: 1.6em;
	color: rgba(0,0,0,.6);
	font-weight: normal;
}

.section3 {
	margin-top: 150px;
}

.item img{
	width: 100%;
}

.section4 img {
	width: 100%;
}